body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", Roboto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 15px;
    margin: 0;
    padding-bottom: 1000px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}



