.left-side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 130px;
    border-right: solid 1px rgb(242, 242, 242);
    background-color: rgba(255, 255, 255, 0.953);
    width: 100%;
    max-width: fit-content;
    padding-top: 3px;
    padding-bottom: 5px;
    background-color: white;
    z-index: 200;
}
@media (min-width: 400px) and (max-width: 1279px) {
    .left-side-bar {
        left: 45px;
        width: 260px;
    }
}

@media (min-width: 1298px) and (max-width: 1310px) {
    .left-side-bar {
       left: 5px;
       width: 275px;
       overflow: scroll;
       overflow-x: hidden;
       visibility: visible;
    }
}
@media (min-width: 1310px) and (max-width: 1350px) {
    .left-side-bar {
       left: 8px;
       width: 275px;
       overflow: scroll;
       overflow-x: hidden;
       visibility: visible;
    }
}
@media (min-width: 1350px) and (max-width: 1360px) {
    .left-side-bar {
        left: 8px;
        width: 270px;
        margin-left: 38px;
        overflow: scroll;
        overflow-x: hidden;
        visibility: visible;
    }
}

@media (min-width: 1360px) and (max-width: 1380px) {
    .left-side-bar {
        left: 44px;
        width: 280px;
    }
}

@media (min-width: 1380px) and (max-width: 1390px) {
    .left-side-bar {
        left: 55px;
        width: 290px;
    }
}

@media (min-width: 1390px) and (max-width: 1400px) {
    .left-side-bar {
        left: 55px;
        width: 290px;
    }
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .left-side-bar {
       width: 80px;
       z-index: 200px;
    }
}
@media (min-width: 999px) and (max-width: 500px) {
    .left-side-bar {
        left: 55px;
        width: 20px;   
    }
}

a { 
    color: black;
    text-decoration-line: none;
}

/*x-logo-code*/
.fa-x-twitter {
    font-size: 30px;
}

.x-twitter {
   width: 30px;
   padding: 11px;
   cursor: pointer;
}

.x-twitter:hover {
    background-color: rgb(227, 227, 227);
    border-radius: 50%;
}


/*left-side-bar-items-codes*/
.side-bar-titles {
    width: 300px;
}

.grid-1 {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 12px;
    width: max-content;
    margin-bottom: 4px;
    cursor: pointer;
}

.grid-1:hover {
    background-color: rgb(227, 227, 227);
    border-radius: 30px;
}

.home {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 30px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .home {
        display: none;
    }
}

.side-bar-icons {
    padding-left: 2px;
    width: 25px;
}
.side-bar-icons-2 {
    padding-left: 2px;
    width: 30px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .side-bar-icons {
       padding-right: 10px;
       width: 25px;
    }
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .side-bar-icons-2 {
       padding-right: 10px;
       width: 30px;
    }
}

.name {
    font-weight: bold;
}
.bio-span {
    display: flex;
    color: gray;
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .post {
        display: none;
    }
}
.post {
    background-color: rgb(11, 11, 11);
    padding: 16px 100px 16px 100px;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    width: max-content;
    transition: opacity 0.30s;
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .post-icon {
        height: 50px;
        width: 50px;
        margin-left: 5px;
        cursor: pointer;
        transition: opacity 0.35s;
    }

    .post-icon:hover {
        opacity: 0.85;
    }
}
@media  (min-width: 300px) and (max-width: 999px) {
    .post-icon {
        display: none;
    }
}
@media  (min-width: 1301px) {
    .post-icon {
        display: none;
    }
}

.post:hover {
    opacity: 0.88;
}

.user-info {
    display: flex;
    margin-top: 15px;
    cursor: pointer;
    width: max-content;
    padding: 9px 12px 9px 0px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .user-info {
        padding: 5px 2px;
    }
}
.profile-picture {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.profile-picture-div {
    text-align: center;
    width: 70px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
    .menu-icon {
        display: none;
    }
}
.menu-icon {
    margin-top: 16px;
    height: 18px;
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .username {
        display: none;
    }
}
.username {
    margin-top: 2px;
    margin-right: 45px;
    line-height: 22px;
}
.user-info:hover {
    background-color: rgb(227, 227, 227);
    border-radius: 40px;
    width: fit-content;
}

.left-side-absolute {
    position: relative;
}